.budget-tracker{
    border-collapse: collapse;
    min-width: 800px;
}

.budget-tracker th{
    text-align: left;
    padding: .6rem 1.2rem;
    border-bottom: 2px solid #ccc;
    margin: .8rem;
}

.budget-tracker td{
    padding: 5px;
}
.input, .delete-entry{
    height: 30px;
    font-size: .8rem;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}
.input{
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input:focus{
    border-color: #bbb;
}
.delete-entry{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: red;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.delete-entry:hover{
    background-color: rgba(255,0,0,0.1);
}
.control, .summary{
    text-align: right;
}